.checkbox {
    margin: 16px 0;
}

.input-text {
    width: 100%;
}

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
