<app-category-filter>
    <header>
        <app-header />
    </header>
    <section class="sidebar box">
        <form [formGroup]="form">
            <h3>Busca</h3>
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" class="input-text" pInputText placeholder="Pesquisar..." />
            </p-iconField>

            <p-divider></p-divider>

            <h3>Categorias</h3>
            <div formArrayName="categories">
                <div *ngFor="let category of categories$ | async; let i = index" class="checkbox">
                    <p-checkbox [label]="category.title" [formControlName]="i" [value]="category.id">
                    </p-checkbox>
                </div>
            </div>

            <p-divider></p-divider>

            <h3>Tags</h3>
            <div class="tags" formArrayName="tags">
                <div *ngFor="let tag of tags$ | async; let i = index">
                    <p-toggleButton [onLabel]="tag.title" [offLabel]="tag.title" [formControlName]="i">
                    </p-toggleButton>
                </div>
            </div>
        </form>
    </section>
    <main class="main box" *ngIf="(filteredRecipes$ | async) as recipes">
        <h3>{{ recipes.length }} resultados</h3>
        <div class="cards">
            <div class="card" *ngFor="let recipe of recipes | slice:first:(first+rows); let i = index">
                <img [src]="'assets/img/' + recipe.image" [alt]="recipe.title">
                <h4>
                    {{ recipe.title }}
                </h4>
                <p>
                    {{ recipe.description }}
                </p>
            </div>
            <div class="paginator">
                <p-paginator locale="pt-BR" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="recipes.length" [rowsPerPageOptions]="[9, 18, 36]"></p-paginator>
            </div>
        </div>
    </main>
</app-category-filter>