<app-category-filter>
    <header>
        <app-header />
    </header>
    <section class="sidebar box">
        <form [formGroup]="form">
            <h3>Busca</h3>
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" class="input-text" pInputText placeholder="Pesquisar..." formControlName="search" />
            </p-iconField>

            <p-divider></p-divider>

            <h3>Categorias</h3>
            <div formArrayName="categories">
                <div *ngFor="let category of categories$ | async; let i = index" class="checkbox">
                    <p-checkbox [label]="category.title" [formControlName]="i" [value]="category.id">
                    </p-checkbox>
                </div>
            </div>

            <p-divider></p-divider>

            <h3>Tags</h3>
            <div class="tags" formArrayName="tags">
                <div *ngFor="let tag of tags$ | async; let i = index">
                    <p-toggleButton [onLabel]="tag.title" [offLabel]="tag.title" [formControlName]="i">
                    </p-toggleButton>
                </div>
            </div>
        </form>
    </section>
    <main class="main box" *ngIf="(filteredRecipes$ | async) as recipes">
        <app-recipes [recipes]="recipes" />
    </main>
</app-category-filter>