.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
}

.card {
    width: calc(33% - var(--spacing) / 2);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing);
}

.card:hover {
    cursor: pointer;
    color: #000;
}
