<ng-container *ngIf="recipes.length > 0; else empty">
    <h3>{{ recipes.length }} resultado(s).</h3>
    <div class="cards">
        @for (recipe of recipes | slice:first:(first+rows); track recipe.id) {
        <app-recipe [recipe]="recipe" class="card" />
        }
        <div class="paginator">
            <p-paginator locale="pt-BR" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="recipes.length" [rowsPerPageOptions]="[9, 18, 36]"></p-paginator>
        </div>
    </div>
</ng-container>
<ng-template #empty>
    <p>Nenhuma receita encontrada.</p>
</ng-template>