.logo {
    display: flex;
    gap: 8px;
}

.logo img {
    width: 32px;
    margin-top: -16px;
}

.title {
    font-family: "Borel", cursive;
    font-style: normal;
    font-size: 20px;
    color: #000;
}
