.logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo img {
    width: 32px;
}

.title {
    font-family: "Borel", cursive;
    font-style: normal;
    font-size: 20px;
    margin: 8px 0 -8px 0;
}
